*{
    margin: 0;
    padding: 0;
firuzbranch12
}.fbfirst{
    width: 95%;
    margin: auto;
    font-size: 25px;
    font-weight: 100;
    line-height: 45px;
}.fbfirst i{
    padding-right: 45px;
}.fbsecond {
    width: 40%;
   position: relative;
   top: 20px;
   left: 500px;
   font-size: 25px;
}.fbsecond i{
    color: orange;
    font-size: 85px;
}.fbthird img{
    margin-top: 60px;
    width: 30%;
    height: auto;
}.fbfourth{
    height: 70vh;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 60px; */
    padding-top: 90px;
}.fbleft4{
    padding-left: 200px;
}.fbleft4 img{
    margin-top: 59px;
    width: 320px;
    border-radius: 50%;
}.fbleft4 h1{
    font-size: 95px;
    font-weight: 100;
}
.fbright4{
    margin-top: 70px;
    width: 40%;
    text-align: center;
    font-size: 1.125rem;
    line-height: 30px;
}.fbright4 i{
    margin: 45px;
}.fbbackground{
    background-image: url(./images/winterforrest.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
}.fbfifth {
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}.fbright5{
    width: 35%;
    line-height: 35px;
    font-size: 1.125rem;    
}.fbright5 button{
    padding: 10px;
    margin-top: 40px;
}.fbright5 button:hover{
    background-color: black;
    color: white;
}.fbright5 h6{
    margin: 20px 5px;
    font-size: 25px;
    font-weight: 100;
}
#fbcircle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f86449;
    margin-top: 50px;
    margin-left: 120px;
}.fbleft5 {
    font-size: 30px;
    font-weight: 100;
    width: 45%;
    /* text-align: center; */
}.fbleft5 h1{
    margin-left: 120px;
}

    
}
.ab_contener_form{
    display: flex;
    justify-content: center;
    align-items: center;
   padding-bottom: 50px;
   padding-top: 65px; 
}
.ab_div_rais{ 
    background-color: #e5e5e5;
    padding-bottom: 90px;
    font-family: Montserrat, sans-serif;
}
.ab_linc_freepic{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid;
}
.ab_linc_freepic:hover{
    border: none;
}
.ab_p_images{
    text-align: center;
    font-size: 16px;
}
.ab_main_form{
    width: 75%; 
    padding-top: 20px;
   background-color: white;
   display: flex;
   border-bottom: 11px solid #f86449;

}
.ab_left_form{
    width: 50%;
    padding: 30px 20px;
}
.ab_right_text{
    width: 50%;
    padding: 34px 30px 30px;
}
#abemail{
    width: 90%;
    padding: 10px 12px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #f86449;
}
#Mesegges{
    width: 90%;
    padding: 10px 12px;
    border: none;
    border-bottom: 2px solid #f86449 ;
    font-size: 18px;

}
.ab_h1_Send{
    font-size: 40px;
    font-weight: 600;
    margin-top: 15px;
}
#submit{
    padding: 10px 30px;
    width: 95%;
    font-size: 15px;
    border: none;
    background-color: #f86449;
    color: white;
    margin-bottom: 30px;
}
#submit:hover{
    opacity: 0.8;
}

.ab_Call{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18;
}
.ab_tel{
    text-decoration: none;
    margin-top: 20px;
    color: #f86449;
    font-size: 20px;
    font-weight: 500;
}
.ab_tel:hover{
    color: black;
}
/* -------------ab_contener2_blck-------------- */
.ab_contener2_blck{
    background-color: #333333;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: Montserrat, sans-serif;
    padding: 40px 0px;

}
.ab_main_blck{
    width: 34%;
}
.ab_sample{
  margin-bottom: 100px;
  font-size: 14px;
  line-height: 20px;
}
.ab_ssilkli_blue{
    color:  #addfe9;
}
.ab_ssilkli_blue:hover{
    text-decoration: none;
    color: #838181;
}
.ab_font_ssilki{
    font-size: 12px;
}



main
