
.Ibconteiner{
    width: 100%;
    height: 15vh;
    background-color: rgb(43, 38, 38);
   
}
.Ibconteiner{
display: flex;
justify-content: space-between;
align-items: center;

}
.Ibright p{
    font-size: 300%;
    color: white;
}
.Ibconteinerimage{
    background-image: url(./images/fggffgfg-min.jpg);
    width: 100%;
    height: 120vh;
    background-size: cover;
}
.adventure{
    width: 45%;
    height: 50%;
    background-color: rgb(48, 40, 40);
    position: relative;
    left: 50%;
    bottom: 50%;
   padding-top: 2%;
   
}
.Iborange{
    width: 25%;
    height: 75%;
    background-color: orange;
    margin-left: 60%;
    position: relative;
    top: 13%;
    
}
#br{
    margin-top: 200px;
    color: aliceblue;
    font-size: 100px;
    font-weight: 100;
    margin-left: 5%;
}
.adven{
    color: aliceblue;
    font-weight: 100;
    font-size: 200px;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 30px;
}
.Im{
    color: aliceblue;
    font-size: 100px;
    margin-left: 5%;
    
}

.Ibmiddle{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}
.Ibleft2{
    width: 40%;
    height: 107vh;
    color:black;
    font-size: 500%;
    border: 1px solid;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}
.conteiner2{
    width: 100%;
   
}
.main2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main2,.chap,.mobayn,.ros{
    width: 100%;
}
.miniconteiner{
    width: 80%;
    height: 20vh;
    background-color: grey;
    position: relative;
    left: 6%;
    opacity: 0.1;
}
.mobayn img{
    width: 100%;
}
.ros img{
    width: 50%;
    margin-left: 450px;
}
.exp{
    font-size: 150px;
    font-weight: 100;
    text-align: justify;
    position: relative;
    margin-left: 300px;
    bottom: 140px;
}
.tra{
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    font-size: 70px;
    margin-top: 50px;
}
.have{
    text-align: center;
    font-size: 25px;
    color: gray;
    font-weight: 100;
    line-height: 1.5;
    font-size: 60px;
    margin-top: 50px;
}
.conteiner3{
   width: 100%; 
   position: relative;

}
.photo img{

    width: 100%;
    height: 100vh;
    background-size: cover;
    
}
.texto{
   position:absolute;
    bottom: 1450px;
    left: 1450px;
}
#go{
    font-size: 200px;
    font-weight: 100;
    color: white;
    
}
.hat{
    border: 3px solid gray;
    background-color: white;
    width: 30%;
    margin-left: 35%;
    margin-top: 100px;
}
.types{
    margin-top: 150px;
    font-size: 100px;
    position: absolute;
    right: 100px;
    text-align: center;
    color: white;
}
#from{
    font-size: 100px;
position: absolute;
bottom: 320px;
left: 2100px;
color: white;
}
#href{
    font-size: 100px;
    position: absolute;
    bottom: 320px;
    left: 2600px;
    text-decoration: none;
    color: white;
    text-decoration: underline;
}
#read{
    font-size: 50px;
    padding: 40px 150px;
    border-radius: 10px;
    position: absolute;
    bottom: 100px;
    left: 2200px;
    font-weight: 100;
}
#read:hover{
background-color: slategrey;
}
=======
firuzbranch12
}.fbfirst{
    width: 95%;
    margin: auto;
    font-size: 25px;
    font-weight: 100;
    line-height: 45px;
}.fbfirst i{
    padding-right: 45px;
}.fbsecond {
    width: 40%;
   position: relative;
   top: 20px;
   left: 500px;
   font-size: 25px;
}.fbsecond i{
    color: orange;
    font-size: 85px;
}.fbthird img{
    margin-top: 60px;
    width: 30%;
    height: auto;
}.fbfourth{
    height: 70vh;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 60px; */
    padding-top: 90px;
}.fbleft4{
    padding-left: 200px;
}.fbleft4 img{
    margin-top: 59px;
    width: 320px;
    border-radius: 50%;
}.fbleft4 h1{
    font-size: 95px;
    font-weight: 100;
}
.fbright4{
    margin-top: 70px;
    width: 40%;
    text-align: center;
    font-size: 1.125rem;
    line-height: 30px;
}.fbright4 i{
    margin: 45px;
}.fbbackground{
    background-image: url(./images/winterforrest.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
}.fbfifth {
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}.fbright5{
    width: 35%;
    line-height: 35px;
    font-size: 1.125rem;    
}.fbright5 button{
    padding: 10px;
    margin-top: 40px;
}.fbright5 button:hover{
    background-color: black;
    color: white;
}.fbright5 h6{
    margin: 20px 5px;
    font-size: 25px;
    font-weight: 100;
}
#fbcircle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f86449;
    margin-top: 50px;
    margin-left: 120px;
}.fbleft5 {
    font-size: 30px;
    font-weight: 100;
    width: 45%;
    /* text-align: center; */
}.fbleft5 h1{
    margin-left: 120px;
}

    
}
.ab_contener_form{
    display: flex;
    justify-content: center;
    align-items: center;
   padding-bottom: 50px;
   padding-top: 65px; 
}
.ab_div_rais{ 
    background-color: #e5e5e5;
    padding-bottom: 90px;
    font-family: Montserrat, sans-serif;
}
.ab_linc_freepic{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid;
}
.ab_linc_freepic:hover{
    border: none;
}
.ab_p_images{
    text-align: center;
    font-size: 16px;
}
.ab_main_form{
    width: 75%; 
    padding-top: 20px;
   background-color: white;
   display: flex;
   border-bottom: 11px solid #f86449;

}
.ab_left_form{
    width: 50%;
    padding: 30px 20px;
}
.ab_right_text{
    width: 50%;
    padding: 34px 30px 30px;
}
#abemail{
    width: 90%;
    padding: 10px 12px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #f86449;
}
#Mesegges{
    width: 90%;
    padding: 10px 12px;
    border: none;
    border-bottom: 2px solid #f86449 ;
    font-size: 18px;

}
.ab_h1_Send{
    font-size: 40px;
    font-weight: 600;
    margin-top: 15px;
}
#submit{
    padding: 10px 30px;
    width: 95%;
    font-size: 15px;
    border: none;
    background-color: #f86449;
    color: white;
    margin-bottom: 30px;
}
#submit:hover{
    opacity: 0.8;
}

.ab_Call{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18;
}
.ab_tel{
    text-decoration: none;
    margin-top: 20px;
    color: #f86449;
    font-size: 20px;
    font-weight: 500;
}
.ab_tel:hover{
    color: black;
}
/* -------------ab_contener2_blck-------------- */
.ab_contener2_blck{
    background-color: #333333;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: Montserrat, sans-serif;
    padding: 40px 0px;

}
.ab_main_blck{
    width: 34%;
}
.ab_sample{
  margin-bottom: 100px;
  font-size: 14px;
  line-height: 20px;
}
.ab_ssilkli_blue{
    color:  #addfe9;
}
.ab_ssilkli_blue:hover{
    text-decoration: none;
    color: #838181;
}
.ab_font_ssilki{
    font-size: 12px;
}

